<div class="grid" style="margin-top: 15px;">
    <div style="width: 100%;">       
            <div class="card">
                <h5>Proceses</h5>
                <p-table [value]="process" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Initiator</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-process>
                        <tr>
                            <td><span class="p-text-Primary">{{process.Process_instance_id}}</span></td>                     
                            <td>{{process.Process_name}}</td>
                            <td>{{getDate(process.start_date)}}</td>
                            <td>{{process.Initiator}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                    </ng-template>
                    <ng-template pTemplate="paginatorright">
                        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                    </ng-template>
                </p-table>
            </div>
	</div>

</div>