<div class="pages-body login-page flex flex-column">
   
    <div class="align-self-center mt-auto mb-auto" style="width:400px;">
        <div class="pages-panel card flex flex-column" style="height:600px;">
            <div class="text-center mb-auto">
                <img src="assets/layout/images/logomer.png" alt="Image" style="width:200px;height:200px;" class="mb-3">
            </div>
            <div class="pages-detail mb-6 px-6">Password Change</div>
            <form [formGroup]="resetForm" class="row g-3">
            <div class="input-panel flex flex-column px-3">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input class="p-inputtext p-component p-element" type="password" id="oldPassword" formControlName="oldPassword" [(ngModel)]="oldPassword" pInputText >
                        <label for="oldPassword">Temporary Password</label>
                    </span>
                </div>
                <br>
            </div>

            <div class="input-panel flex flex-column px-3">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input class="p-inputtext p-component p-element" type="number" id="otp" formControlName="otp" [(ngModel)]="otp" pInputText >
                        <label for="otp">OTP</label>    
                    </span>
                </div>
                <br>
            </div>

            <div class="input-panel flex flex-column px-3">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input class="p-inputtext p-component p-element" type="password" id="newPassword" formControlName="newPassword" [(ngModel)]="newPassword" pInputText >
                        <label for="newPassword">New Password</label>   
                    </span>
                </div>
                <br>
            </div>
            </form>

            <div ng-if="errorMessage"><b>{{ errorMessage }}</b></div>
            <BR>

            <button class="p-element p-ripple mr-2 mb-2 p-button p-component" (click)="btn_reset()"  >Change Password</button>

            <div class="input-panel flex flex-column px-3">
                <a href="/login" routerLink="/login">Cancel</a>
            </div>
        </div>
    </div>
</div>
