$primaryColor:#977949;
$primaryLightestColor: #E8EAF6;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#ff4081;
$accentTextColor:#ffffff;

@import '../../sass/theme/theme_light';
