<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NSDMS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="/static/css/theme-light.css">
    <link rel="stylesheet" href="/static/css/layout-light.css">
    <link rel="stylesheet" href="/static/css/primeng.min.css">
    <link rel="stylesheet" href="/static/css/primeflex.min.css">
    <link rel="stylesheet" href="/static/css/primeicons.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
</head>
<body ng-app="NSDMS">
    {% include 'base/top_nav.html' %}
    <div ng-controller="MainController"  class="container-fluid">
        {% block contents%}
        
        {% endblock %}
    </div>
</body>
</html>
<script>
var NSDMS = angular.module('NSDMS', []);
    
NSDMS.factory('GetDataService', ['$http', function ($http) {
    var GetDataService = {};
    GetDataService.Call = function (method, param) {
    return  $http({method:'POST',
        url:'/DEFINE-API',
            data:JSON.stringify({
                'fn' : method,
                'params' : param
            }),
            headers:{'Content-Type': 'application/json'}
            });
    };
    return GetDataService;
}]);
</script>
{% block js %}

{% endblock %}