<div class="pages-body login-page flex flex-column">
   
    <div class="align-self-center mt-auto mb-auto" style="width:400px;">
        <div class="pages-panel card flex flex-column" style="height:500px;">
            <div class="text-center mb-auto">
                <img src="assets/layout/images/logomer.png" alt="Image" style="width:200px;height:200px;" class="mb-3">
            </div>

            <div class="pages-detail mb-6 px-6">Please Reset Password</div>

            <form [formGroup]="forgotForm" class="row g-3">
            <div class="input-panel flex flex-column px-3">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-envelope"></i>
                    </span>
                    <span class="p-float-label">
                        <input class="p-inputtext p-component p-element" type="email" id="email" formControlName="email" [(ngModel)]="email" pInputText >
                        <label for="email">Email</label>
                        
                    </span>
                    
                </div>
                <mat-error *ngIf="forgotForm.get('email').hasError('pattern')">
                    Please enter a valid email <strong>required</strong>
                  </mat-error>
                <br>
            </div>
            </form>

            <div ng-if="errorMessage"><b>Error</b></div>
            <BR>
            <button class="p-element p-ripple mr-2 mb-2 p-button p-component"   (click)="btn_forgot()" >Reset Password</button>

            <div class="input-panel flex flex-column px-3">
                <a href="/login" routerLink="/login">Cancel</a>
            </div>
        </div>
    </div>
</div>
